/pedido-service/target/surefire-reports/br.com.fabiohaider.pedido.PedidoControllerTest.txt
/.idea/pedido.iml
/.idea/mavenHomeManager.xml
/pedido-service/target/surefire-reports/TEST-br.com.fabiohaider.pedido.PedidoControllerTest.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.
/.idea/*
/pedido-service/target/.
/pedido-service/target/*
/pedido-service/teste2fa.sh

