<configuration>
  <appender name="OTLP" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OtlpAppender">
    <setEndpoint>http://localhost:4317</setEndpoint>
    <setJsonMode>true</setJsonMode>
  </appender>

  <root level="INFO">
    <appender-ref ref="OTLP" />
  </root>

  <logger name="com.pedido.pedido" level="DEBUG"/>
</configuration>